@font-face {
	 font-family: 'Avenir';
	 src: url("./fonts/AvenirNext-Regular.ttf") format("truetype");
}
@font-face {
	 font-family: 'AvenirBold';
	 src: url("./fonts/AvenirNext-Bold.ttf") format("truetype");
}
@font-face {
	 font-family: 'Handwriting';
	 src: url("./fonts/Noteworthy-Light.ttf") format("truetype");
}